<!--begin::Exolore drawer-->
<!--<div-->
<!--  id="kt_help"-->
<!--  class="bg-body"-->
<!--  data-kt-drawer="true"-->
<!--  data-kt-drawer-name="help"-->
<!--  data-kt-drawer-activate="true"-->
<!--  data-kt-drawer-overlay="true"-->
<!--  data-kt-drawer-width="{default:'350px', 'md': '525px'}"-->
<!--  data-kt-drawer-direction="end"-->
<!--  data-kt-drawer-toggle="#kt_help_toggle"-->
<!--  data-kt-drawer-close="#kt_help_close">-->

<!--  &lt;!&ndash;begin::Card&ndash;&gt;-->
<!--  <div class="card shadow-none rounded-0 w-100">-->
<!--    &lt;!&ndash;begin::Header&ndash;&gt;-->
<!--    <div class="card-header" id="kt_help_header">-->
<!--      <h5 class="card-title fw-bold text-gray-600">-->
<!--        Learn & Get Inspired-->
<!--      </h5>-->

<!--      <div class="card-toolbar">-->
<!--        <button type="button" class="btn btn-sm btn-icon explore-btn-dismiss me-n5" id="kt_help_close">-->
<!--          <app-keenicon name="cross" class="fs-2"></app-keenicon>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash;end::Header&ndash;&gt;-->

<!--    &lt;!&ndash;begin::Body&ndash;&gt;-->
<!--    <div class="card-body" id="kt_help_body">-->
<!--      &lt;!&ndash;begin::Content&ndash;&gt;-->
<!--      <div-->
<!--        id="kt_help_scroll"-->
<!--        class="hover-scroll-overlay-y"-->
<!--        data-kt-scroll="true"-->
<!--        data-kt-scroll-height="auto"-->
<!--        data-kt-scroll-wrappers="#kt_help_body"-->
<!--        data-kt-scroll-dependencies="#kt_help_header"-->
<!--        data-kt-scroll-offset="5px">-->

<!--        &lt;!&ndash;begin::Support&ndash;&gt;-->
<!--        <div class="rounded border border-dashed border-gray-300 p-6 p-lg-8 mb-10">-->
<!--          &lt;!&ndash;begin::Heading&ndash;&gt;-->
<!--          <h2 class="fw-bolder mb-5">Support at <a href="https://devs.keenthemes.com" class="">devs.keenthemes.com</a></h2>-->
<!--          &lt;!&ndash;end::Heading&ndash;&gt;-->

<!--          &lt;!&ndash;begin::Description&ndash;&gt;-->
<!--          <div class="fs-5 fw-bold mb-5">-->
<!--            <span class="text-gray-500">Join our developers community to find answer to your question and help others.</span>-->
<!--            <a class="explore-link d-none" href="https://keenthemes.com/licensing">FAQs</a>-->
<!--          </div>-->
<!--          &lt;!&ndash;end::Description&ndash;&gt;-->

<!--          &lt;!&ndash;begin::Link&ndash;&gt;-->
<!--          <a href="https://devs.keenthemes.com" class="btn btn-lg explore-btn-primary w-100">Get Support</a>-->
<!--          &lt;!&ndash;end::Link&ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash;end::Support&ndash;&gt;-->

<!--        &lt;!&ndash;begin::Link&ndash;&gt;-->
<!--        <div class="d-flex align-items-center mb-7">-->
<!--          &lt;!&ndash;begin::Icon&ndash;&gt;-->
<!--          <div class="d-flex flex-center w-50px h-50px w-lg-75px h-lg-75px flex-shrink-0 rounded bg-light-warning">-->
<!--            &lt;!&ndash;begin::Svg Icon | path: icons/duotune/abstract/abstract-26&ndash;&gt;-->
<!--            <app-keenicon name="abstract-26" class=" text-warning fs-2x fs-lg-3x"></app-keenicon>-->
<!--            &lt;!&ndash;end::Svg Icon&ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash;end::Icon&ndash;&gt;-->
<!--          &lt;!&ndash;begin::Info&ndash;&gt;-->
<!--          <div class="d-flex flex-stack flex-grow-1 ms-4 ms-lg-6">-->
<!--            &lt;!&ndash;begin::Wrapper&ndash;&gt;-->
<!--            <div class="d-flex flex-column me-2 me-lg-5">-->
<!--              &lt;!&ndash;begin::Title&ndash;&gt;-->
<!--              <a href="https://preview.keenthemes.com/metronic8/angular/docs/quick-start" class="text-gray-900 text-hover-primary fw-bolder fs-6 fs-lg-4 mb-1">Documentation</a>-->
<!--              &lt;!&ndash;end::Title&ndash;&gt;-->
<!--              &lt;!&ndash;begin::Description&ndash;&gt;-->
<!--              <div class="text-muted fw-bold fs-7 fs-lg-6">From guides and video tutorials, to live demos and code examples to get started.</div>-->
<!--              &lt;!&ndash;end::Description&ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash;end::Wrapper&ndash;&gt;-->
<!--            &lt;!&ndash;begin::Svg Icon | path: icons/duotune/arrows/arrow-right&ndash;&gt;-->
<!--            <app-keenicon name="arrow-right" class=" text-gray400 fs-2"></app-keenicon>-->
<!--            &lt;!&ndash;end::Svg Icon&ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash;end::Info&ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash;end::Link&ndash;&gt;-->

<!--        &lt;!&ndash;begin::Link&ndash;&gt;-->
<!--        <div class="d-flex align-items-center mb-7">-->
<!--          &lt;!&ndash;begin::Icon&ndash;&gt;-->
<!--          <div class="d-flex flex-center w-50px h-50px w-lg-75px h-lg-75px flex-shrink-0 rounded bg-light-info">-->
<!--            &lt;!&ndash;begin::Svg Icon | path: icons/duotune/art/design-frame&ndash;&gt;-->
<!--            <app-keenicon name="design-frame" class=" text-info fs-2x fs-lg-3x"></app-keenicon>-->
<!--            &lt;!&ndash;end::Svg Icon&ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash;end::Icon&ndash;&gt;-->
<!--          &lt;!&ndash;begin::Info&ndash;&gt;-->
<!--          <div class="d-flex flex-stack flex-grow-1 ms-4 ms-lg-6">-->
<!--            &lt;!&ndash;begin::Wrapper&ndash;&gt;-->
<!--            <div class="d-flex flex-column me-2 me-lg-5">-->
<!--              &lt;!&ndash;begin::Title&ndash;&gt;-->
<!--              <a href="#" routerLink="/builder" class="text-gray-900 text-hover-primary fw-bolder fs-6 fs-lg-4 mb-1">Layout Builder</a>-->
<!--              &lt;!&ndash;end::Title&ndash;&gt;-->
<!--              &lt;!&ndash;begin::Description&ndash;&gt;-->
<!--              <div class="text-muted fw-bold fs-7 fs-lg-6">Build your layout, preview it and export the HTML for server side integration.</div>-->
<!--              &lt;!&ndash;end::Description&ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash;end::Wrapper&ndash;&gt;-->
<!--            &lt;!&ndash;begin::Svg Icon | path: icons/duotune/arrows/arrow-right&ndash;&gt;-->
<!--            <app-keenicon name="arrow-right" class=" text-gray400 fs-2"></app-keenicon>-->
<!--            &lt;!&ndash;end::Svg Icon&ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash;end::Info&ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash;end::Link&ndash;&gt;-->

<!--        &lt;!&ndash;begin::Link&ndash;&gt;-->
<!--        <div class="d-flex align-items-center mb-7">-->
<!--          &lt;!&ndash;begin::Icon&ndash;&gt;-->
<!--          <div class="d-flex flex-center w-50px h-50px w-lg-75px h-lg-75px flex-shrink-0 rounded bg-light-danger">-->
<!--            &lt;!&ndash;begin::Svg Icon | path: icons/duotune/electronics/elc009.svg&ndash;&gt;-->
<!--            <app-keenicon name="elc009.svg" class=" text-danger fs-2x fs-lg-3x"></app-keenicon>-->
<!--            &lt;!&ndash;end::Svg Icon&ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash;end::Icon&ndash;&gt;-->
<!--          &lt;!&ndash;begin::Info&ndash;&gt;-->
<!--          <div class="d-flex flex-stack flex-grow-1 ms-4 ms-lg-6">-->
<!--            &lt;!&ndash;begin::Wrapper&ndash;&gt;-->
<!--            <div class="d-flex flex-column me-2 me-lg-5">-->
<!--              &lt;!&ndash;begin::Title&ndash;&gt;-->
<!--              <a href="https://preview.keenthemes.com/metronic8/angular/docs/changelog" class="text-gray-900 text-hover-primary fw-bolder fs-6 fs-lg-4 mb-1">What's New</a>-->
<!--              &lt;!&ndash;end::Title&ndash;&gt;-->
<!--              &lt;!&ndash;begin::Description&ndash;&gt;-->
<!--              <div class="text-muted fw-bold fs-7 fs-lg-6">Latest features and improvements added with our users feedback in mind.</div>-->
<!--              &lt;!&ndash;end::Description&ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash;end::Wrapper&ndash;&gt;-->
<!--            &lt;!&ndash;begin::Svg Icon | path: icons/duotune/arrows/arrow-right&ndash;&gt;-->
<!--            <app-keenicon name="arrow-right" class=" text-gray400 fs-2"></app-keenicon>-->
<!--            &lt;!&ndash;end::Svg Icon&ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash;end::Info&ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash;end::Link&ndash;&gt;-->

<!--      </div>-->
<!--      &lt;!&ndash;end::Content&ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash;end::Body&ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash;end::Card&ndash;&gt;-->
<!--</div>-->
<!--end::Exolore drawer-->

